<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title><%=  %></title>
    <!-- to check about the title -->
</head>
<body>
<nav>
    <!-- <img src="/images/camera.svg"> -->
    <!-- <a href="/movies" <%- title === 'All Movies' ? 'class="active"' : '' %>>ALL MOVIES</a> -->
    <!-- <% if (user) { %> -->
        <a href="/workouts/new">Workouts</a>
        <a href="/schedule">Workout Schedule</a>
        <a href="/schedule/new">Edit Schedule</a>
        <a href="/">Log out</a>
    <!-- <% } else { %> -->
        <!-- <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a> -->
    <!-- <% } %> -->
</nav>
<main>
    <h1><%=  %></h1>