<!-- this is the add workout to schedule page -->
<!-- be able to add: workout from workout schema and the sets, reps, weights, from the userinfo schema -->

<%- include('../partials/header') %>

<form id="add-to-schedule-form" action="/schedules" method="POST">
  <label>Day:</label>
  <select name="day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
  </select>
  <label>Workout:</label>
  <input type="text" name="workout">
  <label>Sets:</label>
  <input type="number" name="sets">
  <label>Reps:</label>
  <input type="number" name="reps">
  <label>Weights:</label>
  <input type="text" name="weights">

  <input type="submit" value="Add to Schedule">
</form>

<%- include('../partials/footer') %>
