<!-- this is the add workout to schedule page -->
<!-- be able to add: workout from workout schema and the sets, reps, weights, from the schedule schema -->

<%- include('../partials/header') %>

<form id="add-to-schedule-form" action="/schedules" method="POST">
  <label>Day:</label>
  <select name="day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Friday</option>
    <option value="Sunday">Friday</option>
  </select>
  <label>Workout:</label>
  <input type="string" name="workouts">
 <!-- <select name="workout">
    dynamically render workouts
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select> -->
  <label>Sets:</label>
  <input type="number" name="sets">
  <label>Reps:</label>
  <input type="number" name="reps">
  <label>Weights:</label>
  <input type="text" name="weights">

  <input type="submit" value="Add to Schedule">
</form>


<%- include('../partials/footer') %>
