* {
  padding: 0px;
  margin: auto;
  font-family: Roboto, Monaco, Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  background-color: grey;
}
/* header-------------------------------------- */
.a-tag-header {
  margin: center;
  width: 50%;
  color: white;
  padding: 30px;
  text-decoration: none;
}

.app-name {
  color: white;
  font-size: 40px;
}

.plus{
  color: red;
}
.a-tag-header:hover {
  color:grey;
}

body > nav {
  /* grid-area: nav; */
  background-color: #202124;
  /* display: flex;
  justify-content: flex-end; */
  align-items: center;
  padding: 10px 20px 10px 30px;
}

.material-symbols-outlined {
  width: 45px;
  object-fit: contain;
  margin-right: auto;
  color: white;
  font-size: 40px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.the-title {
  color: white;
}

/* footer ------------------------------------- */

footer{
  position:fixed;
  bottom:0;
  left:0;
  background-color: #202124;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  color: white;
  font-size: 13px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
 }



/* schedule page------------------------------------- */