* {
  padding: 0px;
  font-family: Consolas,monaco,monospace;
}

body {
  margin: 0;
  height: 100vh;
  background-color:rgb(30,30,30);
}
/* header-------------------------------------- */
.a-tag-header {
  margin: center;
  width: 50%;
  color:rgb(225, 225, 225);
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
}

.app-name {
  color: rgb(198, 139, 115);
  font-size: 40px;
}

.plus{
  color: red;
  padding-right: 20px;
}
.a-tag-header:hover {
  color:rgb(102, 102, 102)
}

body > nav {
  /* grid-area: nav; */
  background-color:rgb(60, 60, 60); 
  /* display: flex;
  justify-content: flex-end; */
  align-items: center;
  padding: 10px 20px 10px 30px;
}

.material-symbols-outlined {
  width: 45px;
  object-fit: contain;
  margin-right: auto;
  color: white;
  font-size: 40px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.the-title {
  margin-left: 40px;
  color:rgb(82, 147, 201);
  font-size: 40px;
}

/* footer ------------------------------------- */

footer{
  position:fixed;
  bottom:0;
  left:0;
  background-color:rgb(0, 122, 204);
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  color: white;
  font-size: 13px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* schedule page (index)------------------------------------- */

table {
  margin-left: 40px;
  margin-top: 5px;
  border: 2px solid;
  border-radius: 3px;
  padding: 5px;
  border-color:rgb(144, 202, 232);
}

th, td {
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 50px;
  width: 100px;
  color:rgb(90, 129, 73);
}

th {
  color:rgb(144, 202, 232);
}

.last {
  padding-right: 0px;
}

a {
  text-decoration: none;
  color:rgb(198, 139, 115);
}

div {
  margin-left: 40px;
  font-size: 30px;
  color: rgb(208, 208, 161);
}

/* add workout--------------------------------------------- */

#add-workout-form {
  margin-top: 20px;
  padding-left: 40px;
}

label {
  display: block;
  color: rgb(208, 208, 161);
  font-size: 25px;
  padding-bottom: 5px;
  padding-top: 15px;
}

select {
  color: black;
  width: 150px;
}

.workout-text {
  width: 150px;
}

textarea {
  width: 300px;
  height: 150px;
}

.submit-button {
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  border-radius: 3px;
  border: 2px solid;
  font-size: 20px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  padding: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: white;
  color: black;
  border-color: white;
} 


/* add workout to schedule --------------------------------------------- */

#add-to-schedule-form {
  margin-top: 20px;
  margin-left: 40px;
}

.add-to-schedule-button {
  margin-top: 40px;
  display: block;
  border-radius: 3px;
  border: 2px solid;
  font-size: 20px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.add-to-schedule-button:hover {
  background-color: white;
  color: black;
  border-color: white;
} 

/* edit detail (show.ejs) --------------------------------------------- */
.th-text {
  color:rgb(90, 129, 73);
}

.edit-button {
  /* margin-top: 20px;
  margin-left: 40px; */
  /* display: inline; */
  border-radius: 3px;
  border: 2px solid;
  font-size: 12px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  cursor: pointer;
  height:28px;
  width:40px;
  margin-left: -35px;
}

.edit-button:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.delete-button {
  /* margin-top: 20px;
  margin-left: 40px;
  display: inline; */
  border-radius: 3px;
  border: 2px solid;
  font-size: 12px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin-left: -200px;
  /* padding-right: -200px; */
}

.delete-button:hover {
  background-color: red;
  border-color: red;
}

.notes-text {
  margin-left: 40px;
  font-size: 30px;
  color:rgb(200, 200, 64); 
}

.note-table-container {
  margin-top:20px;
  border: 2px;
}

.note-textarea {
  margin-top: 40px;
  margin-left: 40px;
  width: 300px;
  height: 100px;
}

.delete-note-button {
  border-radius: 3px;
  border: 2px solid;
  font-size: 12px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.delete-note-button:hover {
  background-color: red;
  border-color: red;
}

h5 {
  margin-top: 0;
  margin-bottom: -20px;
  margin-left: 40px;
  color:rgb(144, 202, 232);
  font-size: 20px;
}

.add-note-button {
  border-radius: 3px;
  border: 2px solid;
  font-size: 15px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-bottom: -5px;
}

.add-note-button:hover {
  background-color: red;
  border-color: red;
}

/* edit workout (edit.ejs) --------------------------------------------- */
#edit-schedule-form {
  margin-left: 40px;
}


.edit-s-button {
  margin-top: 20px;
  display: block;
  border-radius: 3px;
  border: 2px solid;
  font-size: 15px;
  background-color: #202124;
  color:rgb(200, 200, 64); 
  cursor: pointer;
  height: 34px;
  width: 136px;
}

.edit-s-button:hover {
  background-color: red;
  border-color: red;
  color: white;
}